@font-face {
    font-family: 'Space Grotesk';
    src: url(../font/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Cookie Monster';
    src: url(../font/Cookiemonster-gv11.ttf);
}

:root {
    --white: #fff;
    --white-offset: #F4F4F4;
    --black: #000;
    --black-offset: #444;
    --gray: #D9D9D9;
    --red: #C83C4F;
    --yellow: #FFE185;
    --green: #009F9C;
    --light-green: #75CF6D;
    --blue: #6D7EB5;
    --pink: #F0D5DF;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-image: url('../images/bg.png');
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Button */
button {
    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 92px;
    border: 3px solid var(--black);
    background: var(--white);
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

button:disabled {
    background: var(--black-offset);
    opacity: 0.7;
}

/* Text */
.center {
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 5px;
    margin-left: 15px;
    text-align: left;
    align-self: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

/* Progress Bar */
progress {
    border-radius: 5px;
    width: 80%;
    height: 15px;
    margin: 15px 0 30px;
}

progress::-webkit-progress-bar {
    background-color: #888;
}

progress::-webkit-progress-value {
    background-color: var(--black);
}

/* SVG */
.svg-expand {
    content: url("../svg/expand-icon.svg");
}

.svg-edit {
    content: url("../svg/edit-icon.svg");
}

.svg-timer {
    content: url("../svg/timer-icon.svg");
}

.svg-sad-face {
    content: url("../svg/sad-face.svg");
}

/* Touch Action */
.no-zoom {
    touch-action: none; /* Prevent default touch actions */
}