/* Popup Box */
.modal-wrapper {
	display: flex;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	background: var(--black-offset);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&.open{
		visibility: visible;
        opacity: 0.9;
	}
}

.modal {
	padding: 20px 40px;
	display: block;
	height: max-content;
	width: 35%;
	position: relative;
	margin: auto;
	background: var(--yellow);
    border-radius: 8px;
    border: 3px solid var(--black);
    text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-transform: scale(0.7);
   -webkit-transform: scale(0.7);
   transform: scale(0.7);
}

.modal-wrapper.open .modal {
	opacity: 1;
	filter: alpha(opacity=100);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);

}

.modal-header {
    display: flex;
}

.modal-header .svg {
    width: 20%;
}

.modal-body p{
    font-weight: 700;
    font-size: 20px;
    color: var(--black-offset);
}

.modal-body input{
    margin-top: 20px;
    transform: scale(1.5);
    cursor: pointer;
}

.modal-body label{
    font-weight: 700;
    font-size: 14px;
    color: var(--black-offset);
    margin: 10px;
}

.modal-body label a {
    text-decoration: underline;
    cursor: pointer;
}

.modal-body label a:hover {
    opacity: 0.7;
}

.modal-footer {
    margin: 15px;
}

.modal-footer p{
    font-weight: 700;
    font-size: 12px;
    color: var(--black-offset);
}

.start-btn {
    background: var(--blue);
    margin-right: 15px;
    padding: 10px 40px;
}


/* Test Page */
canvas {
    width: 100%;
    height: 50vh;
    border: 3px solid var(--black);
    border-radius: 8px;
}

.container {
    position: relative;
}

.big-box {
    margin: 0 15vh;
}

.small-text {
    text-align: right;
    font-weight: 700;
    font-size: 18px;
    color: var(--black-offset);
}

.small-box {
    margin: 2vh 8vh;
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: center;
    text-align: end;
}

.small-box p {
    display: inline;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 5px;
}

.give-up-btn, .submit-btn {
    padding: 10px 40px;
}

.give-up-btn {
    background: var(--blue);
    margin-right: 15px;
}

.submit-btn {
    background: var(--yellow);
}

.color-palette {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    margin: 5vh 15vh;
    border: 3px solid var(--black);
    border-radius: 5px;
    z-index: 1;
}

.color {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.fullscreen-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    margin: 5vh 15vh;
    width: 30px;
    background-color: var(--gray);
    border: 3px solid var(--black);
    border-radius: 8px;
    z-index: 1;
    cursor: pointer;
}

.color:hover, .fullscreen-btn:hover {
    opacity: 0.7;
}